[Unit]
Description=Run One Heartbeat every 5 minutes

[Timer]
OnCalendar=*:0/5
Persistent=true
Unit=heartbeat.service

[Install]
WantedBy=timers.target


